:root {
  --pendleblue: #01395a;
  --pendelyellow: #ecb011;
  --pendlebone: #edebdf;
  --pendlehone: #cfcec3;
}

input {
  width: 50%;
}

div#ban-ner {
    background: var(--pendleblue);
    color: var(--pendelyellow);
    height: 150px;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: 0px;
    top: 0px;
  }

.log-In {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.pup {
    display: inline-flex;
    flex-direction: column;
    background: var(--pendleblue);
    border-radius: 12px;
    height: 300px;
    width: 50%;
    text-align: center;
    margin-top: 75px;
    justify-content: center;
    align-items: center;
}

.but-ton {
  width: 50%;
}

.cabinets {
  background-color: var(--pendleblue);
  color: var(--pendelyellow);
  font-family: 'Times New Roman', Times, serif;
  padding: 16px;
  font-size: 20px;
  border: none;
}

.dip-type {
  background-color: var(--pendlebone);
  position: relative;
  display: inline-block;
}

.drawers {
  background-color: var(--pendlebone);
  display: none;
  position: absolute;
  min-width: 150px;
}

.drawers a {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.drawers a:hover {
  background-color: var(--pendlehone);
}

.drawers select:hover {
  background-color: var(--pendlehone);
}

.dip-type:hover .drawers {
  display: block;
}

.dip-type:hover .cabinets {
  background-color: var(--pendelyellow);
  color: var(--pendleblue);
}

.slot {
  background-color: var(--pendlebone);
  font-family: 'Times New Roman', Times, serif;
  color: #000;
  font-size: 15px;
  border: none;
  height: 38px;
}

.colrange {
  background-color: var(--pendlebone);
  color: #000;
  font-size: 15px;
  border: none;
  height: 38px;
}

.cabrange {
  background-color: var(--pendlebone);
  position: relative;
  display: inline-block;
  width: 100%;
}

.boilout {
  background-color: var(--pendlebone);
  position: relative;
  display: inline-block;
  width: 100%;
}

.col {
  background-color: var(--pendlebone);
  display: none;
  min-width: 150px;
  position: absolute;
  margin-left: 150px;
  margin-top: -38px;
}

.mach {
  background-color: var(--pendlebone);
  display: none;
  min-width: 150px;
}

.col a {
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.col a:hover {
  background-color: var(--pendlehone);
}

.col select:hover {
  background-color: var(--pendlehone);
}

.cabrange:hover .col {
  display: block;
  position: right;
}

.cabrange:hover .colrange {
  background-color: var(--pendlehone);
  width: 100%;
}

.mach a {
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.mach a:hover {
  background-color: var(--pendlehone);
}

.mach select:hover {
  background-color: var(--pendlehone);
}

.boilout:hover .mach {
  display: block;
  position: right;
}

.boilout:hover .slot {
  background-color: var(--pendlehone);
  width: 100%;
}

/*
@media and screen (max-width: 250px) {
 .mach{
  background-color: black;
 }
}
*/